body {
    margin: 0px;
}

.app-wrapper {
    width: 100%;
}

.upload-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 10px;
    border: 1px solid black;
    font-family: 'Monserrat', sans-serif;
    background-color: lightgray;
}

.upload-wrapper > h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: lightslategray;
}

.upload-wrapper > .input-wrapper {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    border: 1px solid darkslategray;
}

.upload-wrapper > .input-wrapper > .submit > button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    font-weight: 200;
    color: darkslategray;
    background-color: whitesmoke;
}

.drag-a-file-wrapper {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 30px;
}

.drag-a-file-wrapper > .button-wrapper > button {
    background: none;
    border: none;
    padding: 20px;
}

.files-uploaded-wrapper {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: 30px;
    height: 500px;
}

.files-uploaded-wrapper > h3 {
    border: 1px solid black;
    height: 30px;
    padding: 10px;
}




